@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: sans-serif;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}



main{
    min-height: calc(100vh - 30px - 30px);
}

#main{
    background-color: lightsalmon;
    padding: 120px 0;
}

