header {
    background-color: crimson;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .list {
            display: flex;
            gap: 30px;
        }
    }
}
